.ac_results {
	padding: 0px;
	border: 1px solid #867D6C;
	background-color: #E7E9ED;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 3px 5px;	
	cursor: default;
	display: block;
	/*color: #972800;*/
	color: #4E4336;
	font-family: Arial, Tahoma, Verdana;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size: 13px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;

}

.ac_loading {
	background: white url('../images/indicator.gif') right center no-repeat;
}

.ac_odd 
{
	/*background-color: #fef2d8;*/
	background-color: #ffffff;
}

.ac_over {
	background-color: #F47668;
	color: white;
}


.input_text{
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	font-weight: normal;
	padding-left: 2px;
	color: #4E4336;
	width:135px;
	border-style:solid;
	border-width: 1px;
	border-color: #b1a68e;
	background-image:url('../images/search_small.gif');
	background-repeat:no-repeat;	
	background-position: right;
	padding-left:1px;
}
